[Unit]
Description=Refresh Lenovo Vantage charge mode
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/lenovo-vantage-charge-refresh

[Install]
WantedBy=multi-user.target
